@if (mediaDetails$ | async; as data) {
  <div
    @landingAnimation
    class="max-w-5xl mx-auto bg-white dark:bg-gray-900 border-white border dark:border-gray-700 shadow-md rounded-lg overflow-hidden mt-4"
  >
    <!-- Top Section -->
    <div class="flex flex-col md:flex-row">
      <!-- Poster -->
      <div class="md:w-1/3">
        <img
          class="w-full h-96 object-cover"
          src="https://image.tmdb.org/t/p/w300/{{ data.poster_path }}"
          alt="{{ data.title || data.name }}"
        />
      </div>

      <!-- Details -->
      <div class="p-6 md:w-2/3 flex flex-col justify-between">
        <!-- Title and Rating -->
        <div>
          <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200">
            {{ data.title || data.name }}
          </h1>
          <p class="text-gray-500 dark:text-gray-200 text-sm mt-1">
            Release Date:
            {{ data.release_date || data.first_air_date | date: 'longDate' }}
          </p>
        </div>

        <!-- Rating -->
        <div class="flex items-center mt-4">
          <span class="text-yellow-500 text-lg">⭐</span>
          <p class="ml-2 text-gray-600 dark:text-gray-200 font-medium">
            {{ data.vote_average }}/10
          </p>
          <span class="ml-4 text-sm text-gray-500 dark:text-gray-200"
          >({{ data.vote_count }} votes)</span
          >
        </div>
        <!-- Overview -->
        <div class="mt-6">
          <h2 class="text-lg font-semibold text-gray-700">Overview:</h2>
          <p class="mt-2 text-gray-600 dark:text-gray-200">
            {{ data.overview }}
          </p>
        </div>
      </div>
    </div>

    <!-- Additional Details -->
    <div class="p-6 border-t border-gray-200">
      <h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200">
        Additional Information
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        <div>
          <p class="font-semibold text-gray-600 dark:text-gray-200">Runtime:</p>
          <p class="text-gray-500 dark:text-gray-200">
            {{ data.runtime || data.episode_run_time }} minutes
          </p>
        </div>
        <div>
          <p class="font-semibold text-gray-600 dark:text-gray-200">Status:</p>
          <p class="text-gray-500 dark:text-gray-200">{{ data.status }}</p>
        </div>
        @if (data.budget) {
          <div>
            <p class="font-semibold text-gray-600 dark:text-gray-200">
              Budget:
            </p>
            <p class="text-gray-500 dark:text-gray-200">
              {{ data.budget | currency: 'USD' : 'symbol' }}
            </p>
          </div>
        }
        @if (data.number_of_seasons) {
          <div>
            <p class="font-semibold text-gray-600 dark:text-gray-200">
              Number of Seasons:
            </p>
            <p class="text-gray-500 dark:text-gray-200">
              {{ data.number_of_seasons }}
            </p>
          </div>
        }
        @if (data.revenue) {
          <div>
            <p class="font-semibold text-gray-600 dark:text-gray-200">
              Revenue:
            </p>
            <p class="text-gray-500 dark:text-gray-200">
              {{ data.revenue | currency: 'USD' : 'symbol' }}
            </p>
          </div>
        }
        @if (data.number_of_episodes) {
          <div>
            <p class="font-semibold text-gray-600 dark:text-gray-200">
              Number of episodes:
            </p>
            <p class="text-gray-500 dark:text-gray-200">
              {{ data.number_of_episodes }}
            </p>
          </div>
        }
      </div>
    </div>
  </div>
}
